* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --primary-color: #4F6BFE;
    --light-primary-color: #4F6BFE1A;
    --secondary-color: #4F6CFE1A;
}

body {
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100dvh;
}

.container {
    background: #fff;
    width: 25rem;
    max-height: 35rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .05);
    border-radius: 0.75rem;
    height: 90%;
    margin-inline: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.header {
    background: var(--primary-color);
    padding: 1rem;
    text-align: center;
    color: #fff;
}

.content {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.answer-section {
    background: var(--light-primary-color);
    padding: 0.5rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0;
    width: fit-content;
    display: flex;
    align-items: center;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

.question-section {
    background: var(--primary-color);
    color: #fff;
    padding: 0.5rem;
    width: fit-content;
    border-radius: 0.5rem 0.5rem 0rem 0.5rem;
    margin-left: auto;
    overflow-wrap: anywhere;
}

.chat-form {
    border-top: 1px solid #f2f2f2;
    padding: 1rem;
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.chat-input {
    outline: none;
    border: none;
    flex: 1;
    height: 2.5rem;
}

.send-button {
    background: var(--primary-color);
    border: none;
    padding: 0.5rem;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.25s ease;
}

.send-button-nonactive {
    opacity: 0.1;
    background: #000;
    pointer-events: none;
}

.send-button:active {
    transform: scale(0.9);
}